@media(max-width:1199px) {}





@media(max-width:991px) {
    .header{
        padding:15px 0;
    }
    .scroll_header{
        display: none;
    }
    .search {
        margin-left: 0px;
    }
    .desktop_only_menu{
        display: none;
    }
    .desktop_only_logo {
        display: none;
    }
    .mobile_social_media{
        display: block;
    }
    .mobile_only_menu{
        display: block;
    }
    .mobile_only_logo{
        display: block;
        padding-left:15px;
    }
    .header_nav{
        padding:15px 0;
        position: sticky;
        top:-1px;
        z-index: 1020;
        box-shadow: 0 15px 30px 0 rgb(0 0 0 / 15%);
    }
    .header-nav-wrap nav {
        display: none;
    }
    .desktop_only_social_media{
        display: none;
    }
    .mobile_social_media ul {
        display: flex;
    }
    .insider_news+.insider_news {
        margin-top: 0px;
    }

    .thumb_news_insider {
        margin-top: 25px !important;
    }

    .photo_feature .insider_news {
        margin-top: 25px;
    }

    .photo_feature .main_title {
        margin-bottom: 5px;
    }

    .footer-wrap {
        display: block;
        text-align: center;
    }

    .social_media ul {
        justify-content: center;
    }

    .footer_logo {
        margin: 15px 0;
    }

    .details_page .social_media ul {
        display: flex;
    }

    .details_page .social_media ul li+li a {
        margin-top: 0px;
        margin-left: 7px;
    }

    .share_news {
        margin-top: 0;
    }

    .details_page .social_media {
        margin-top: 0;
    }

    .details_left_sidebar {
        display: flex;
        justify-content: space-between;
    }

    .details_main {
        margin-top: 25px;
    }

    .deatils_sidebar {
        margin-top: 25px;
    }

    .details_related_wrap {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -12.5px;
    }

    .details_related_wrap .thumbnail_news_wrap {
        width: 50%;
        padding: 0 12.5px;
    }

    .deatils_sidebar .main_title {
        margin-bottom: 0;
    }

    .contact_page_wrap {
        display: block;
    }
    .highlight_news .col-lg-4:nth-child(4) .post_media {
        height: 400px;
    }
    .highlight_news .col-lg-4:nth-child(5) .post_media {
        height: 400px;
    }
    .business .col-lg-4:nth-child(1) {
        width: 50%;
    }
    .business .col-lg-4:nth-child(2) {
        width: 50%;
    }
    .business .col-lg-4:nth-child(3) {
        width: 50%;
    }
    .business .col-lg-4:nth-child(4) {
        width: 50%;
    }
    .business .col-lg-4:nth-child(5) {
        width: 50%;
    }
    .business .col-lg-4:nth-child(6) {
        width: 50%;
    }
    .footer_logo img{
        width: auto;
    }
}





@media(max-width:767px) {
    
}






@media(max-width:575px) {
    .post_main_news .post_media {
        height: auto;
    }

    .post_main_news .post_title h2 {
        font-size: 18px;
    }

    .meta_tags ul li {
        width: 50%;
    }

    .meta_tags ul {
        flex-wrap: wrap;
    }

    .meta_tags ul li+li {
        padding-left: 0;
        margin-left: 0;
        ;
    }

    .meta_tags ul li+li::before {
        display: none;
    }

    .thumbnails_news_media {
        height: auto;
    }

    .mb {
        margin-bottom: 40px;
    }

    .mt {
        margin-top: 40px;
    }

    .pt {
        padding-top: 40px;
    }

    .pb {
        padding-bottom: 40px;
    }

    .main_title h3 {
        font-size: 28px;
    }

    .entertainemt_news .thumbnails_news_media {
        height: auto;
    }

    .sports .thumbnails_news_media {
        height: auto;
    }

    .business .thumbnails_news_media {
        height: auto;
    }

    .insider_news_media {
        height: auto;
    }

    .photo_feature .insider_news_media {
        height: auto;
    }

    .nav-tabs {
        overflow-y: hidden;
        overflow-x: scroll;
        flex-wrap: inherit;
    }

    .nav-tabs .nav-link {
        white-space: nowrap;
    }

    .tab_list {
        overflow: hidden;
        margin-left: 50px;
    }

    .breadcrumb {
        flex-wrap: inherit;
        overflow-y: hidden;
        overflow-x: scroll;
    }

    .breadcrumb li {
        white-space: nowrap;
    }

    .details_left_sidebar {
        display: block;
    }

    .share_news {
        margin-top: 30px;
    }

    .details_page .social_media {
        margin-top: 50px;
    }

    .details_main h1 {
        font-size: 32px;
    }

    blockquote {
        padding: 20px;
        padding-left: 45px;
        font-size: 16px;
    }

    blockquote::before {
        left: 0;
    }

    .details_related_wrap {
        display: block;
        margin: 0;
    }

    .details_related_wrap .thumbnail_news_wrap {
        width: 100%;
        padding: 0;
    }

    .deatils_sidebar .thumbnails_news_media {
        height: auto;
    }

    .category_page .thumbnails_news_media {
        height: auto;
    }

    .contact_page_info {
        padding: 30px;
    }
    .contact_social{
        margin-top:25px;
    }
    .contact_page_info h3{
        margin-bottom:20px;
    }
    .contact_page_info p{
        margin-top:25px;
    }
    .contact_page_form{
        padding:30px;
    }
    #mySidenav{
        width: 100%;
    }
    .sidenav{
        margin-right:-100%;
    }
    .post_main_news{
        margin-top:30px;
    }
    .highlight_news .col-lg-4:nth-child(4) {
        width: 100%;
    }
    .highlight_news .col-lg-4:nth-child(5) {
        width: 100%;
    }
    .highlight_news .col-lg-4:nth-child(4) .post_media {
        height: auto;
    }
    .highlight_news .col-lg-4:nth-child(5) .post_media {
        height: auto;
    }
    .lifestyle .thumbnails_news_media {
        height: auto;
    }
    .business .col-lg-4:nth-child(1) {
        width: 100%;
    }
    .business .col-lg-4:nth-child(2) {
        width: 100%;
    }
    .business .col-lg-4:nth-child(3) {
        width: 100%;
    }
    .business .col-lg-4:nth-child(4) {
        width: 100%;
    }
    .business .col-lg-4:nth-child(5) {
        width: 100%;
    }
    .business .col-lg-4:nth-child(6) {
        width: 100%;
    }
    .error_page h1{
        font-size: 160px;
    }
    .error_page h1 b{
        font-size: 200px;
    }
    .error_page span{
        font-size: 35px;
    }
    .error_page p{
        margin-top:15px;
        font-size: 20px;
    }
    .thankyou-page span{
        margin-top:15px;
        font-size: 24px;
    }
    .thankyou-page h1{
        font-size: 40px;
    }
    .newsletter-col{
        display: block;
    }
    .newsletter-left{
        width: 100%;
    }
    .newsletter-right{
        width: 100%;
        padding:25px;
    }
    .newsletter-col{
        max-width: 100%;
    }
    .newsletter-right h3{
        font-size: 25px;
    }
    .newsletter-right p{
        margin-bottom:10px;
    }
    .social_media ul li a img{
        height: 22px;
    }
    .social_media ul li+li a {
        margin-left: 8px;
    }
    .logo img{
        height: 38px;
    }
    .footer_logo img {
        height: 38px;
    }
}